@model SAT.DATA.EF.Course

@{
    ViewBag.Title = Model.CourseName + " Details";
}


<div class="formContainer pt-3">
    <div class="h2 text-center">
        @ViewBag.Title
    </div>
    <div class="container col d-flex justify-content-center">

        <div class="row m-0">
            <div class="col-md-12">

                <p>
                    <strong> @Html.DisplayNameFor(model => model.CourseDescription): </strong>
                    @Html.DisplayFor(model => model.CourseDescription)
                </p>
                <p>
                    <strong> @Html.DisplayNameFor(model => model.CreditHours): </strong>@Html.DisplayFor(model => model.CreditHours)
                </p>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Curriculum): </strong>@Html.DisplayFor(model => model.Curriculum)
                    </p>
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Notes): </strong>@Html.DisplayFor(model => model.Notes)
                    </p>
                }
                <p>
                    <strong>@Html.DisplayNameFor(model => model.IsActive): </strong>
                    <span>@(Model.IsActive ? "Yes" : "No")  </span>
                </p>
            </div>


            <div class="row">
                <div class="col-md-6">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }, new { @class = "btn btn-success" })
                    }
                </div>
                <div class="col-md-6 text-right">
                    @Html.ActionLink("Back to Courses", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>

        </div>
    </div>
</div>






